.main{
  padding: 2.5rem 0;
  min-height: 100vh;
  &__box{
    width: 100%;
    max-width: 55rem;
    min-height: 63rem;
    border: 1px solid #929292;
    border-radius: .5rem;
    box-shadow: 1rem 1rem var(--color-shadow);
    background: rgb(255,250,222);
    background: linear-gradient(0deg, rgba(255,250,222,1) 50%, rgba(255,255,255,1) 50%);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "i01 i02"
    "i03 i03"
    "i04 i05";
    padding: 2rem 2rem 0;
    @include screen_576 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      "i01 . i02"
      ". i03 ."
      "i04 . i05";
    }

    }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &._01{
      grid-area: i01;
      justify-content: center;
      padding-top: 4rem;
      .main__item-nav{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #505050;
        min-height: 4rem;
        padding: 0.75rem;
        right: -6.35rem;
        &::before{
          content: '';
          border: 2rem solid transparent;
          border-left: 0.75rem solid #505050;
          position: absolute;
          right: -2.75rem;
        }
        span{
          font-size: 1.1rem;
          line-height: 125%;
          text-transform: uppercase;
          color: var(--color-white);
        }
      }
      .main__item-tube{
        background: url('../main/img/icons/tube-01.png') center center no-repeat;
        background-size: cover;
        width: 20rem;
        height: 20rem;
        position: absolute;
        z-index: 0;
        top: 76%;
        left: 87%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        &-decoration{
          position: absolute;
        }
        &-01{
          top: 0.5rem;
          right: 6rem;
          animation: tube-01 4s linear infinite;
        }
        &-02{
          animation: tube-01 4s .5s linear infinite;
        }
        &-04{
          animation: tube-01 4s 2s linear infinite;
        }
        &-05{
          animation: tube-01 4s 2.5s linear infinite;
        }
        @keyframes tube-01 {
          0%{
            top: .5rem;
            right: 6rem;
          }
          25%{
            top: .5rem;
            right: .75rem;
          }
          100%{
            top: 17rem;
            right: .75rem;
          }
        }
        &-03{
          animation: tube-arrow 4s 1.25s linear infinite;
        }
        &-06{
          animation: tube-arrow 4s 3.25s linear infinite;
        }
        @keyframes tube-arrow {
          0%{
            top: 0rem;
            right: 6rem;
          }
          28%{
            top: 0rem;
            transform: rotate(0deg);
          }
          30%{
            transform: rotate(90deg);
            top: 1.25rem;
            right: 1.15rem;
          }
          100%{
            transform: rotate(90deg);
            top: 17rem;
            right: 1.15rem;
          }
        }
        &-07{
          top: 0.15rem;
          right: 1.15rem;
          transform: rotate(45deg);
          animation: tube-arrow-single 3.25s linear forwards;
          @keyframes tube-arrow-single {
            0%{
              top: 0.15rem;
              right: 1.15rem;
              transform: rotate(45deg);
            }
            5%{
              top: 1.25rem;
              transform: rotate(90deg);
            }
            99%{
              transform: rotate(90deg);
              top: 17rem;
              right: 1.15rem;
              opacity: 1;
            }
            100%{
              opacity: 0;
            }
          }
        }
        
        &-08{
          top: 4.15rem;
          right: .75rem;
          animation: tube-single-animation 2s linear forwards;
        }
        &-09{
          top: 7.25rem;
          right: .75rem;
          animation: tube-single-animation 2s linear forwards;
        }
        &-10{
          transform: rotate(90deg);
          top: 10rem;
          right: 1.15rem;
          animation: tube-single-animation-rotate 2s linear forwards;
          @keyframes tube-single-animation-rotate {
            0%{
             transform: translateY(0) rotate(90deg)
            }
            100%{
              transform: translateY(10rem) rotate(90deg)
            }
          }
        }
        &-11{
          top: 14rem;
          right: .75rem;
          animation: tube-single-animation 2s linear forwards;
        }
        @keyframes tube-single-animation{
          0%{
           transform: translateY(0)
          }
          100%{
            transform: translateY(13rem)
          }
        }
      }
    }
    &._02{
      grid-area: i02;
      justify-content: flex-start;
      .main__item-tube{
        background: url('../main/img/icons/tube-02.png') center center no-repeat;
        background-size: cover;
        width: 14rem;
        height: 17rem;
        position: absolute;
        z-index: 0;
        top: 70%;
        left: -4%;
        transform: translate(-50%, -50%);
        overflow: hidden;   
        &-decoration{
          position: absolute;
        }
        &-01{
          top: 12.5rem;
          right: 11.25rem;
          animation: anim-par 4s linear infinite;
        }
        &-02{
          top: 12.5rem;
          right: 11rem;
          animation: anim-par 4s .5s linear infinite;
        }
        &-04{
          top: 12.5rem;
          right: 11rem;
          animation: anim-par 4s 2s linear infinite;
        }
        &-05{
          top: 12.5rem;
          right: 11rem;
          animation: anim-par 4s 2.5s linear infinite;
        }
        @keyframes anim-par {
          0%{
            top: 12.5rem;
            right: 11.25rem;
          }
          60%{
            top: 0.75rem;
            right: 11.25rem;
            transform: rotate(0deg);
          }
          61%{
            transform: rotate(90deg);
          }
          100%{
            top: 0.75rem;
            right: 0;
            transform: rotate(90deg);
          }
        }
        &-03{
          top: 12.5rem;
          right: 11rem;
          animation: anim-par-arr 4s 1.25s linear infinite;
        }
        &-06{
          top: 12.5rem;
          right: 11rem;
          animation: anim-par-arr 4s 3.25s linear infinite;
        }
        @keyframes anim-par-arr {
          0%{
            top: 12.5rem;
            right: 11.65rem;
            transform: rotate(-90deg);
          }
          60%{
            top: 0.1rem;
            right: 11.65rem;
            transform: rotate(-90deg);
          }
          61%{
            transform: rotate(0deg);
          }
          100%{
            top: 0.1rem;
            right: 0;
            transform: rotate(0deg);
          }
        }
        &-07{
          top: 6.5rem;
          right: 11.25rem;
          animation: anim-par01 2s linear forwards;
          @keyframes anim-par01 {
            0%{
              top: 6.5rem;
              right: 11.25rem;
            }
            40%{
              top: 0.75rem;
              right: 11.25rem;
              transform: rotate(0deg);
            }
            41%{
              transform: rotate(90deg);
            }
            99%{
              opacity: 1;
            }
            100%{
              top: 0.75rem;
              right: 0;
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
        &-08{
          top: 4.5rem;
          right: 11.25rem;
          animation: anim-par02 1.7s linear forwards;
          @keyframes anim-par02 {
            0%{
              top: 4.5rem;
              right: 11.25rem;
            }
            20%{
              top: 0.75rem;
              right: 11.25rem;
              transform: rotate(0deg);
            }
            21%{
              transform: rotate(90deg);
            }
            99%{
              opacity: 1;
            }
            100%{
              top: 0.75rem;
              right: 0;
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
        &-09{
          top: 0.1rem;
          right: 9.25rem;
          animation: anim-par03 1.3s linear forwards;
          @keyframes anim-par03 {
            0%{
              top: 0.1rem;
              right: 9.25rem;
            }
            99%{
              opacity: 1;
            }
            100%{
              top: 0.1rem;
              right: 0;
              opacity: 0;
            }
          }
        }
        &-10{
          top: 8.5rem;
          right: 11.65rem;
          transform: rotate(-90deg);
          animation: anim-par04 3s linear forwards;
          @keyframes anim-par04 {
            0%{
              top: 8.5rem;
              right: 11.65rem;
              transform: rotate(-90deg);
            }
            55%{
              top: 0.1rem;
              right: 11.65rem;
              transform: rotate(-90deg);
            }
            56%{
              transform: rotate(0deg);
            }
            100%{
              top: 0.1rem;
              right: 0;
              transform: rotate(0deg);
            }
          }
        }
      }
      .main__item-icon{
        min-width: 11rem;
        min-height: 11rem;
        background: url('../main/img/icons/icon-02.png') center center no-repeat;
        background-size: contain;
        border: none;
        box-shadow: none;
      }
      .main__item-title{
        position: relative;
        margin-top: 5rem;
        &::before{
          content: '';
          width: 125%;
          height: .2rem;
          background: var(--color-green);
          position: absolute;
          top: -.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .main__item-description{
        text-align: center;
        padding: 0 1.5rem;
      }
    }
    &._03{
      grid-area: i03;
      .main__item-icon{
        min-width: 11rem;
      }
      .main__about{
        position: absolute;
        &._01{
          top: 7rem;
          left: -12rem;
          width: 15rem;
        }
        &._02{
          top: 7rem;
          left: 16rem;
          width: 15rem;
        }
        &-text{
          font-style: italic;
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 125%;
        }
      }
      .main__item-nav{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #8d9ea8;
        min-height: 4rem;
        padding: 0.75rem;
        right: -5rem;
        &::before{
          content: '';
          border: 2rem solid transparent;
          border-left: 0.75rem solid #8d9ea8;
          position: absolute;
          right: -2.75rem;
        }
        span{
          font-size: 1.1rem;
          line-height: 125%;
          text-transform: uppercase;
          color: var(--color-white);
        }
      }
      .main__item-nav._01{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #8d9ea8;
        min-height: 3rem;
        min-width: 4rem;
        padding: 0.75rem;
        right: 0.75rem;
        top: -3.25rem;
        &::before{
          content: '';
          border: 2rem solid transparent;
          border-bottom: 0.75rem solid #8d9ea8;
          position: absolute;
          right: 0rem;
          top: -2.75rem;
        }
        span{
          font-size: 1.1rem;
          line-height: 125%;
          text-transform: uppercase;
          color: var(--color-white);
        }
      }
      .main__item-nav._02{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #8d9ea8;
        min-height: 3rem;
        min-width: 4rem;
        padding: 0.75rem;
        right: 0.75rem;
        top: 8.75rem;
        &::before{
          content: '';
          border: 2rem solid transparent;
          border-top: 0.75rem solid #8d9ea8;
          position: absolute;
          right: 0rem;
          top: 3rem;
        }
        span{
          font-size: 1.1rem;
          line-height: 125%;
          text-transform: uppercase;
          color: var(--color-white);
        }
      }
      .main__item-tube{
        background: url('../main/img/icons/tube-04.png') center center no-repeat;
        background-size: cover;
        width: 16rem;
        height: 18rem;
        position: absolute;
        z-index: 0;
        top: 90%;
        left: 103%;
        transform: translate(-50%, -50%);
        overflow: hidden;   
        &-decoration{
          position: absolute;
        }
        &-01{
          top: 4.5rem;
          right: 13.75rem;
          animation: anim-water 4s linear infinite;
        }
        &-02{
          animation: anim-water 4s .5s linear infinite;
        }
        &-04{
          animation: anim-water 4s 2s linear infinite;
        }
        &-05{
          animation: anim-water 4s 2.5s linear infinite;
        }
        @keyframes anim-water {
          0%{
            top: 4.5rem;
            right: 13.75rem;
          }
          10%{
            top: 7.75rem;
            right: 13.5rem;
            transform: rotate(0deg);
          }
          80%{
            transform: rotate(0deg);
          }
          81%{
            transform: rotate(90deg);
            top: 7.75rem;
            right:0.75rem;
          }
          100%{
            transform: rotate(90deg);
            top: 10.5rem;
            right:0.75rem;
          }
        }
        &-03{
          top: 5.25rem;
          right: 13.75rem;
          height: 2.6rem;
          transform: rotate(90deg);
          animation: anim-water-arrow 4s 1.25s linear infinite;
        }
        &-06{
          top: 5.25rem;
          right: 13.75rem;
          height: 2.6rem;
          transform: rotate(90deg);
          animation: anim-water-arrow 4s 3.25s linear infinite;
        }
        &-07{
          top: 7.1rem;
          right: 11.75rem;
          height: 2.6rem;
          transform: rotate(0deg);
          animation: anim-water-arrow01 3s linear forwards;
          @keyframes anim-water-arrow01  {
            0%{
              top: 7.1rem;
              right: 11.75rem;
              transform: rotate(0deg);
            }
          
            80%{
              top: 7.1rem;
              transform: rotate(0deg);
            }
            81%{
              transform: rotate(89deg);
              top: 7.1rem;
              right:1rem;
            }
            99%{
              opacity: 1;
            }
            100%{
              transform: rotate(90deg);
              top: 10.5rem;
              right:1rem;
              opacity: 0;
            }
          }
        }
        &-08{
          top: 7.75rem;
          right: 7.75rem;
          animation: anim-water01 1.75s linear forwards;
          @keyframes anim-water01 {
              0%{
                top: 7.75rem;
                right: 7.75rem;
              }
              80%{
                transform: rotate(0deg);
              }
              81%{
                transform: rotate(90deg);
                top: 7.75rem;
                right:0.75rem;
              }
              99%{
                opacity: 1;
              }
              100%{
                transform: rotate(90deg);
                top: 10.5rem;
                right:0.75rem;
                opacity: 0;
              }
            }
        }
        &-09{
          top: 7.75rem;
          right: 4.75rem;
          animation: anim-water02 1s linear forwards;
          @keyframes anim-water02 {
              0%{
                top: 7.75rem;
                right: 4.75rem;
              }
              80%{
                transform: rotate(0deg);
              }
              81%{
                transform: rotate(90deg);
                top: 7.75rem;
                right:0.75rem;
              }
              99%{
                opacity: 1;
              }
              100%{
                transform: rotate(90deg);
                top: 10.5rem;
                right:0.75rem;
                opacity: 0;
              }
            }
        }

        @keyframes anim-water-arrow {
          0%{
            top: 5.25rem;
            right: 13.75rem;
            height: 3rem;
            transform: rotate(90deg);
          }
          5%{
            top: 7.1rem;
            right: 13.5rem;
            transform: rotate(0deg);
          }
          80%{
            top: 7.1rem;
            transform: rotate(0deg);
          }
          81%{
            transform: rotate(89deg);
            top: 7.1rem;
            right:1rem;
          }
          100%{
            transform: rotate(90deg);
            top: 10.5rem;
            right:1rem;
          }
        }
      }
    }
    &._04{
      grid-area: i04;
      padding-top: 3rem;
      .main__item-icon{
        margin-left: 4rem;
      }
      .main__item-description{
        padding: 0;
        margin-top: 1.5rem;
      }
      .main__item-nav{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #5b9fb5;
        min-height: 2rem;
        padding: 0.75rem;
        right: 0.25rem;
        top: -3rem;
        &::before{
          content: '';
          border: 4rem solid transparent;
          border-bottom: 0.75rem solid #5b9fb5;
          position: absolute;
          right: 0;
          top: -4.75rem;
        }
        span{
          font-size: 1.1rem;
          line-height: 125%;
          text-transform: uppercase;
          color: var(--color-white);
        }
      }
      .main__item-tube{
        background: url('../main/img/icons/tube-03.png') center center no-repeat;
        background-size: cover;
        width: 16rem;
        height: 13rem;
        position: absolute;
        z-index: 0;
        top: -12.5%;
        left: 100%;
        transform: translate(-50%, -50%);
        overflow: hidden;   
        &-decoration{
          position: absolute;
        }
        &-01{
          top: 6rem;
          right: 1.25rem;
          height: 2.6rem;
          animation: anim-aqua-arrow01 1.5s linear forwards;
          @keyframes anim-aqua-arrow01  {
            0%{
              top: 6rem;
              right: 1.25rem;
              height: 2.6rem;
            }
            5%{
              transform: rotate(-90deg);
            }
            99%{
              opacity: 1;
            }
            100%{
              transform: rotate(-90deg);
              top: 0rem;
              right:1.25rem;
              opacity: 0;
            }
          }
        }
        &-02{
          top: 6.75rem;
          right: 5.25rem;
          animation: anim-aqua01 2.25s linear forwards;
          @keyframes anim-aqua01  {
            0%{
              top: 6.75rem;
              right: 5.25rem;
            }
            29%{
              transform: rotate(0);
            }
            30%{
              top: 6.75rem;
              right: 1rem;
              transform: rotate(-90deg);
            }
            99%{
              opacity: 1;
            }
            100%{
              transform: rotate(-90deg);
              top: 0rem;
              right:1.25rem;
              opacity: 0;
            }
          }
        }
        &-03{
          top: 6.75rem;
          right: 9.25rem;
          animation: anim-aqua02 3.5s linear forwards;
          @keyframes anim-aqua02  {
            0%{
              top: 6.75rem;
              right: 9.25rem;
            }
            39%{
              transform: rotate(0);
            }
            40%{
              top: 6.75rem;
              right: 1rem;
              transform: rotate(-90deg);
            }
            99%{
              opacity: 1;
            }
            100%{
              transform: rotate(-90deg);
              top: 0rem;
              right:1.25rem;
              opacity: 0;
            }
          }
        }
        &-04{
          top: 8rem;
          right: 14rem;
          height: 2.6rem;
          transform: rotate(-90deg);
          animation: anim-aqua-arrow 4s linear infinite;
        }
        &-05{
          top: 8rem;
          right: 14rem;
          height: 2.6rem;
          transform: rotate(-90deg);
          animation: anim-aqua-arrow 4s 2s linear infinite;
        }
        @keyframes anim-aqua-arrow  {
          0%{
            top: 8rem;
            right: 14rem;
            height: 2.6rem;
            transform: rotate(-90deg);
          }
          5%{
            top: 6rem;
            right: 14rem;
            height: 2.6rem;
            transform: rotate(0deg);
          }
          70%{
            top: 6rem;
            right: 1.25rem;
            transform: rotate(0deg);
          }
          71%{
            transform: rotate(-90deg);
          }
          98%{
            transform: rotate(-90deg);
            opacity: 1;
          }
          100%{
            transform: rotate(-90deg);
            top: 0rem;
            right:1.25rem;
            opacity: 0;
          }
        }
        &-06{
          top: 9.75rem;
          right: 13.25rem;
          transform: rotate(-90deg);
          animation: anim-aqua 4s .75s linear infinite;
        }
        &-07{
          top: 9.75rem;
          right: 13.25rem;
          transform: rotate(-90deg);
          animation: anim-aqua 4s 1.25s linear infinite;
        }
        &-08{
          top: 9.75rem;
          right: 13.25rem;
          transform: rotate(-90deg);
          animation: anim-aqua 4s 2.75s linear infinite;
        }
        &-09{
          top: 9.75rem;
          right: 13.25rem;
          transform: rotate(-90deg);
          animation: anim-aqua 4s 3.25s linear infinite;
        }
        @keyframes anim-aqua  {
          0%{
            top: 9.75rem;
            right: 13.25rem;
            transform: rotate(-90deg);
          }
          5%{
            top: 6.75rem;
            right: 14rem;
            transform: rotate(0deg);
          }
          70%{
            top: 6.75rem;
            right: 1rem;
            transform: rotate(0deg);
          }
          71%{
            transform: rotate(-90deg);
          }
          98%{
            transform: rotate(-90deg);
            opacity: 1;
          }
          100%{
            transform: rotate(-90deg);
            top: 0rem;
            right:1rem;
            opacity: 0;
          }
        }
      }
    }
    &._05{
      grid-area: i05;
      padding-top: 3rem;
      .main__item-icon {
        margin-right: 3rem;
      }
      .main__item-description {
        padding-left: 2.5rem;
      }
      .main__item-tube{
        background: url('../main/img/icons/tube-05.png') center center no-repeat;
        background-size: cover;
        width: 25rem;
        height: 3.25rem;
        position: absolute;
        z-index: 0;
        top: 36.5%;
        left: -50%;
        transform: translate(-50%, -50%);
        overflow: hidden;   
        &-decoration{
          position: absolute;
        }
        &-01{
          top: 0.75rem;
          right: 0rem;
          animation: anim-aq 4s linear infinite;
        }
        &-02{
          top: 0.75rem;
          right: 0rem;
          animation: anim-aq 4s .5s linear infinite;
        }
        &-03{
          top: 0.75rem;
          right: 0rem;
          animation: anim-aq 4s 2s linear infinite;
        }
        &-04{
          top: 0.75rem;
          right: 0rem;
          animation: anim-aq 4s 2.5s linear infinite;
        }
        @keyframes anim-aq {
          0%{
            top: 0.75rem;
            right: 0rem;
          }
          100%{
            top: 0.75rem;
            right: 25rem;
          }
        }
        &-05{
          top: 0.25rem;
          right: 0rem;
          height: 2.8rem;
          transform: rotate(180deg);
          animation: anim-aq-ar 4s 1.25s linear infinite;
        }
        &-06{
          top: 0.25rem;
          right: 0rem;
          height: 2.8rem;
          transform: rotate(180deg);
          animation: anim-aq-ar 4s 3.25s linear infinite;
        }
        @keyframes anim-aq-ar {
          0%{
            top: 0.25rem;
            right: 0rem;
          }
          100%{
            top: 0.25rem;
            right: 25rem;
          }
        }

        &-07{
          top: 0.25rem;
          right: 16rem;
          height: 2.8rem;
          transform: rotate(180deg);
          animation: anim-aq-ar01 1.5s linear forwards;
          @keyframes anim-aq-ar01 {
              0%{
                top: 0.25rem;
                right: 16rem;
              }
              100%{
                top: 0.25rem;
                right: 25rem;
              }
            }
        }
        &-08{
          top: 0.25rem;
          right: 4rem;
          height: 2.8rem;
          transform: rotate(180deg);
          animation: anim-aq-ar02 3.25s linear forwards;
          @keyframes anim-aq-ar02 {
              0%{
                top: 0.25rem;
                right: 4rem;
              }
              100%{
                top: 0.25rem;
                right: 25rem;
              }
            }
        }
        &-09{
          top: 0.75rem;
          right: 11rem;
          animation: anim-aq-01 2.25s  linear forwards;
        }
        @keyframes anim-aq-01 {
          0%{
            top: 0.75rem;
            right: 11rem;
          }
          100%{
            top: 0.75rem;
            right: 25rem;
          }
        }
        &-10{
          top: 0.75rem;
          right: 8rem;
          animation: anim-aq-02 2.75s  linear forwards;
        }
        @keyframes anim-aq-02 {
          0%{
            top: 0.75rem;
            right: 8rem;
          }
          100%{
            top: 0.75rem;
            right: 25rem;
          }
        }
      }
    }
    &-icon{
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 9rem;
      min-height: 9rem;
      background: var(--color-white);
      border: .2rem solid var(--color-green);
      border-radius: .5rem;
      box-shadow: .5rem .5rem var(--color-shadow);
      margin-bottom: 1.5rem;
    }

    &-pic{
      margin-bottom: 1rem;
    }
    &-top{
      &-info{
        font-size: 1.3rem;
        color: var(--color-blue);
      }
      &-decoration{
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem .75rem .5rem 0;
        animation: anim-smoke 1s ease-in infinite;
        @keyframes anim-smoke {
          0%{
            opacity: 1;
          }
          100%{
            transform: translateY(-1rem);
            opacity: 0;
          }
        }
        img{
          margin: 0 1rem;
        }
      }
    }
    &-title{
     text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 125%;
    }
    &-description{
      font-style: italic;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 125%;
      padding-left: 4.5rem;
      &._bold{
        font-style: normal;
        font-size: 1.1rem;
        line-height: 135%;
        text-transform: uppercase;
      }
    }
  }
}